@charset "UTF-8";
/**
 * 
 * @authors wangfengquan (you@example.org)
 * @date    2015-05-15 15:36:34
 */
/*产品详情页*/
#parent{position : relative;}
.goods_box{width: 960px;margin:25px auto 0;}
.goods_box .login_box{width: 960px;}
.goods{ width: 960px; min-height: 726px;margin: 0 auto;}
.goods_img{width: 455px; height:455px; /*position: relative;top:0;left:20px;*/float: left;margin-left: 20px;}
.goods_img a img{width: 100%;height: 100%;}
.goods_details{width: 440px;min-height:508px; float: right;margin: 0 20px 105px 0;}
.goods_con{position: relative;}
.goods_con h2,.goods_con h3{font-weight: bold; }
.goods_con h2{font-size: 28px;}
.goods_con h3{ font-size: 14px;}
.goods_con h4 {font-size: 14px;margin: 20px 0 10px 0;}
.goods_con .hr{margin:40px 0 28px 0;}
.goods_con > span{float:left;font-size: 12px;font-family: "PingHei-Light","Arial","微软雅黑";display: inline-block;margin:14px 0 10px 0;}
.goods_con  ul.fabric{  width:440px;margin-bottom: 30px;}
.goods_con  ul.fabric li:first-child{
cursor:pointer; margin-top:80px;}
.goods_con  ul.fabric li span{display:inline-block;height: 20px;line-height: 20px;}
.goods_con  ul.fabric li span:nth-child(2){margin-left:100px; margin-right:20px;padding-left: 20px;}
ul.fabric li span{cursor: pointer;}
.goods_con  ul.fabric li:nth-child(1) span:nth-child(3){line-height:16px;padding-left:20px;height:16px;background: url("/static/web/img/false.png")top left no-repeat;}
.goods_con  ul.fabric li:nth-child(1) span:nth-child(2){background: url("/static/web/img/true.png")top left no-repeat;}
.goods_con  ul.fabric li:nth-child(2) span:first-child{padding:0;margin-bottom: 10px;line-height:15px;width: 115px;height:15px;background: url("/static/web/img/help.png")right top no-repeat}
.goods_con  ul.fabric li:nth-child(2) span:last-child{margin-top: 17px;}
.downarrow{width: 13px;height:40px;float:right;background: url("/static/web/img/whitedownarrow.png") center center no-repeat;
}
.Fabric_block{display:none;width:355px;height: 328px;background:#fff;position: absolute;  top: -28px; right:0px;border: 1px solid #898989;}
.Fabric_block > i{display: block;position: absolute;top:-10px;left:126px;}
.Fabric_block span.bigimg{
    display: block;
    float: left;
    width: 335px;
    height:193px;
    background: #000;
    margin:10px 10px;
}
.Fabric_block h3{font-size: 14px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;}
.Fabric_block ul  li{float:left;
    margin-left: 10px;}
.Fabric_block ul  li em,.Fabric_block ul  li i{display: inline-block;margin-top: 10px;}
.Fabric_block ul  li i{
    color: #898989;}
.fabricbox{float: left;
 width: 261px;
 margin-top: -25px;
  margin-left: 197px;}
.fabricbox li{float: left;margin-right: 10px;margin-bottom: 10px;}
.fabricbox li a{width: 30px;height:30px;background: #000;display: block;border: 1px solid #898989;}
.fabricon{
    border: 2px solid #898989;
    margin-top: -3px;
}
.fabricbox li.fabricon a{border: 1px solid #fff;}
.fabricbox li:last-child{  margin-right: 0;}
.Fabric_block span{display:block;width: 67px;height:30px; margin:0 4px 0 4px;float: left;}
.Fabric_block img{width: 100%;height:100%;}
.Fabric_block ol{float: left;}
.Fabric_block ol li{float: left;margin-right: 5px;width: 30px;height:30px;background:#000; cursor: pointer;box-shadow: 0px 0px 1px #898989 inset;}
.faric_sPic{width: 36px;height:36px;background: #000;margin: 2px 0 2px 2px;  float: left;}
#type{width: 12px;height:20px;background: url("/static/web/img/help.png")left top no-repeat;
float: right;
margin-top: 3px;}
.BESPORKE{background: url("/static/web/img/false.png")top left no-repeat;padding-left: 20px;}

.help{display:none;height:229px;width: 207px;border: 1px solid #898989;position: absolute;  top: 26px; right: -133px;background:#fff;
padding: 10px 15px 10px 10px;word-wrap: break-word;}
.help p{line-height: 20px; }
.help p.Mtm{margin-bottom: 20px;}
.help i{display: block;position: absolute;top:-10px;left:90px;}

.forwho h2{ text-indent: 0;}
.forwho div{float: left;height: 20px;text-align: left; line-height: 20px;}
.forwho div.box{width: 150px; height: 20px; background:#D2D2D2; border-radius: 3px;margin-left: 10px; }
.tail{display: inline-block;font-size: 14px; font-family: "PingHei-Light","Arial","微软雅黑";width: 264px; height: 34px; border:1px solid #000;
text-align: center;line-height: 34px;background: #000;border-radius:5px;}
.tail a{color: #fff;width:100%;height:100%;display:inline-block;font-size: 14px;}
.good_list{font-family: "PingHei-Light","Arial","微软雅黑";margin-top: 20px;height: 266px;}
.good_list > li{border-top: 1px solid #898989;width: 440px;min-height:24px;overflow: hidden;  cursor: pointer;  }
.good_list li div.show{display:block;margin-bottom:15px;margin-top:15px;height: 127px;}
.good_list > li:last-child{border-bottom: 1px solid #898989;}
.good_list li .describe{font-size: 12px;display: none;}
.describe p{line-height: 20px;}
.test6_btn{display: block;margin-top: 5px;font-style: italic;text-decoration:underline;}
.technological {margin-bottom: 20px;color: #898989;}
.technological li{margin:0px 0 10px 0;list-style-type: disc;vertical-align: middle;}
.technological li em{height: 22px;display: block;width: 15px;font-size: 30px;line-height:22px;text-align: center;float: left;}
.caonima{list-style: circle;}
.product{padding-top: 5px;display: inline-block;width:400px;height:20px;}
.arrow{display: inline-block;height:22px;  width:22px;background: #00438a;float: right;margin-right: 10px;
background: url("/static/web/img/downarrow.png") center center no-repeat;
}
.on{transform:rotate(180deg);  -ms-transform:rotate(180deg);  -moz-transform:rotate(180deg);  -webkit-transform:rotate(180deg); 
-o-transform:rotate(180deg);
}
.font14{font-size: 30px;}
.goods_box.hr{margin-bottom: 0;}
.describe{width:430px;color: #898989;font-size: 12px; font-family: "PingHei-Light","Arial","微软雅黑";line-height: 22px;}
.hr_bt{width: 100%;height: 1px;background: #000;margin: 20px 0 5px 0;}
/*修改网页添加的样式*/
.small_img{width: 455px;height: 64px;margin-top: 20px;}
.move_pic{margin:0 auto;height: 64px;}
.move_pic ul li {width: 62px;height:62px;float: left;padding-right: 10px;background:url('../img/shirt.jpg')no-repeat left top;
background-size:62px 62px;cursor: pointer;}
.move_pic ul li a{width: 62px;height: 62px;display: block;}
.move_pic ul li a.active{border:1px solid #000;}
.move_pic ul li:last-child{padding-right: 0;}
.small_img > a{width: 16px;height: 64px;display: inline-block;}
.prev{background: url('../img/left_r2_c2.png')no-repeat left center;}
.next{background: url('../img/right_r2_c4.png')no-repeat right center;}

.collocationbox{width: 960px;clear: both;border-top: 1px solid #898989;display: none;
}
.collocation{width: 920px;margin: 0 auto;margin-bottom:60px;}
.collocation ul li{float: left;margin-right:20px;}
.collocation ul li a{display: block;width: 215px;height: 215px;background:url("/static/web/img/shirt.jpg") top left no-repeat;
background-size: 215px 215px;}
.collocation ul li span{ color: #898989;}
.collocation ul li span.name{margin-top:11px;display: inline-block; }
.collocation ul li p{margin: 5px 0 5px 0; color: #898989;}
.collocation ul li:last-child{margin-right: 0;}
.collocation_text{display: block;width: 60px;margin: 10px auto 25px;text-align: center;}

.foot2 .foot_box{width: 642px;}
.foot2 .foot_left{width: 302px;font-size: 12px;}
.foot2 .foot_right{width: 257px;font-size: 12px;}