<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>产品浏览--衬衫</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/static/wap/css/my-custom-theme.min.css" />
    <link rel="stylesheet" href="/static/wap/css/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/static/wap/css/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="/static/wap/css/style.css"/>
    <script src="/static/wap/js/jquery-1.11.1.min.js"></script>
    <script src="/static/wap/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<!--10.2-->
<div data-role="page" id="pageShirts" class="page">
    <div class="mainContainer">
        <div class="shirt">
            <a data-role="none" href="#">
                <img src="/static/wap/images/shirtOne.png" alt="suit"/>
                <p class="shirtPrice">&yen;299</p>
            </a>

        </div>
        <div class="shirt">
            <a data-role="none" href="#">
                <img src="/static/wap/images/shirtSecond.png" alt="suit"/>
                <p class="shirtPrice priceLeft">&yen;599</p>
            </a>

        </div>
        <div class="shirt">
            <a data-role="none" href="#">
                <img src="/static/wap/images/shirtThird.png" alt="suit"/>
                <p class="shirtPrice">&yen;799</p>
            </a>

        </div>
    </div>

</div>
</body>
</html>