<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>立即预约</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/static/wap/css/my-custom-theme.min.css" />
    <link rel="stylesheet" href="/static/wap/css/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/static/wap/css/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="/static/wap/css/style.css"/>
    <script src="/static/wap/js/jquery-1.11.1.min.js"></script>
    <script src="/static/wap/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<!--购买方式-->
<div data-role="page" id="pageBuy" class="page">

    <div class="contact">
        <p class="contactTitle">您可以选择以下两种方式进行购买</p>
        <a  href="tel:4006997386"  class="tel" data-role="none">400-699-7386</a>

        <div class="hr"></div>
        <a href="#"  class="weixin" data-role="none">bros_bespoke</a>

        <p class="except">我们正在日夜兼程开发在线定制服务，敬请期待！</p>
    </div>

</div>
</body>
</html>