{% extends "wap/base/base1.html" %}

{% block title %}售后服务{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block body %}
<!--联系我们-->
<div class="carwarp nobot">
    <div class="header-fixed">
        <h1 class="carlogo"><a href="#"><img src="/static/images/public/logo.jpg"></a></h1>
        <a href="/wap/cart_view/">
            {% if request.session.carts_number != '0' %}
            <div class="carnum">
                <span class="cnume">{{ request.session.carts_number }}</span>
            </div>
            {% else %}
            <div class="carnum carnum-empty"></div>
            {% endif %}
        </a>
    </div>
    <div class="header-spacing"></div>
</div>
<div id="pageContact">
    <div class="contact">
        <p class="contactTitle">您可通过电话或微信获取我们的服务支持</p>
        <div class="ctn">
            <i class="fa fa-phone"></i>
            <a href="tel:4006997386" class="tel" data-role="none">400-699-7386</a>
        </div>
        <div class="ctn">
            <i class="fa fa-weixin"></i>
            <a href="#" class="weixin" data-role="none">bros_bespoke</a>
        </div>
        <p class="promise">我们承诺，100%满意，不合身全额退款</p>
    </div>

</div>
{% endblock %}