{% extends "wap/base/base1.html" %}

{% block title %}个性化选择{% endblock %}

{% block extra_css %}
{{ block.super }}
{% endblock %}

{% block extra_js %}
<script>
function showTips(txt, time, status) {
    var htmlCon = '';
    if (txt != '') {
        if (status != 0 && status != undefined) {
            htmlCon = '<div class="tipsBox" style="width:220px;padding:10px;background-color:#4AAF33;border-radius:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color:#fff;box-shadow:0 0 3px #ddd inset;-webkit-box-shadow: 0 0 3px #ddd inset;text-align:center;position:fixed;top:25%;left:50%;z-index:999999;margin-left:-120px;"><img src="/static/images/gouw/ok.png" style="vertical-align: middle;margin-right:5px;" alt="OK，"/>' + txt + '</div>';
        } else {
            htmlCon = '<div class="tipsBox" style="width:220px;padding:10px;background-color:#D84C31;border-radius:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color:#fff;box-shadow:0 0 3px #ddd inset;-webkit-box-shadow: 0 0 3px #ddd inset;text-align:center;position:fixed;top:25%;left:50%;z-index:999999;margin-left:-120px;"><img src="/static/images/gouw/err.png"" style="vertical-align: middle;margin-right:5px;" alt="Error，"/>' + txt + '</div>';
        }
        $('body').prepend(htmlCon);
        if (time == '' || time == undefined) {
            time = 1500;
        }
        setTimeout(function () {
            $('.tipsBox').remove();
        }, time);
    }
}

$(function(){
    //add code here
    $("a[class='jsbtn']").click(function(){
        var add_xiuzi,xiuzi;
        add_xiuzi = ($("#add_xiuzi").is(':checked') ? 1 : 0);

        if($("#add_xiuzi").is(':checked')) {
            xiuzi = $(":text[class='wztext pane3']").val();
            if(!xiuzi) {
                showTips('请填写绣字信息！');
                return;
            }
        } else {
            xiuzi = "";
        }
        //alert("---------------5555555555------");
        //alert("add_xiuzi:"+add_xiuzi+" xiuzi:"+xiuzi);
         //begin upload
            $.post('/wap/personalization_select_post/', {
                        type: 'shirt',
                        add_xiuzi: add_xiuzi,
                        price:{{ order_price }},
                        xiuzi: xiuzi
                    },
                    function(returnedData){
                            (returnedData.code == 0) && (window.location.href = '/wap/cart_add/');
                            popUp(returnedData.msg);
                        }
            );
         //end
    });

    // for qq x5
    $(".checkboxWrap label").on("click", function (e) {
        e.preventDefault();
        var $elem = $(this).prev();
        if($elem.is(":checked")) {
            $elem.prop("checked", false);
        } else {
            $elem.prop("checked", true);
        }

        if($elem.hasClass("id3")){
            if($(".id3").is(":checked")) {
            $(".pane3").show();
                $(".pane3").focus();
            } else {
                $(".pane3").hide();
            }
        }
    });
});
</script>
{% endblock %}

{% block content %}
<!--产品-->
<div class="cus-s">
    <span class="cus-s-c">第<span class="cus-s-n">{{info}}</span>步</span> 额外服务
</div>
<div class="warpstyles">
    <!--绣字-->
    <div class="besdiv besdiv2" style="margin-top: 40%;">
        <div class="bespoke">
            <span class="smf">绣字</span>
            <span class="floatr">FREE
                <div class="checkboxWrap">
                    <input type="checkbox" id="add_xiuzi" class="id3">
                    <label for="add_xiuzi"></label>
                </div>
            </span>
        </div>
        <p class="bestxt">绣上您心中最想表达的文字。</p>
        <input type="text" class="wztext pane3" placeholder="请输入绣字内容" style="display:none;outline:none;">
    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<div class="warpbottom">
    <!--结算 开始-->
    <div class="jiesuan">
        <span class="jsmoney">&yen;<span class="ex-pri">{{ order_price }}</span></span>
        <a href="#" class="jsbtn">下一步</a>
    </div>
    <!--结算 结束-->
</div>
{% endblock %}