{% extends "wap/base/base1.html" %}

{% block title %}分享{% endblock %}

{% block extra_css %}
<style>
    html, body{
        height: 100%;
    }
</style>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.mobile-1.0.1.js"></script>
    <script>
        //背景透明的环形百分比动画
        $(document).ready(function(){
            //percent接口,percent为0到100的整数
            var percent = {{ size_value_percent }};
            var i = 0;
            var ani = setInterval(function(){
                if(i > percent){
                    clearInterval(ani);
                }
                if(i <=50){
                    $(".rightPie").css('clip',"rect(0px,172px,"+i*3.44+"px,86px)");
                    i++;
                }
                if(i>50 && percent != 50){
                    if(i > percent || i == 100){
                        clearInterval(ani);
                    }
                    $('.leftPie').css('clip',"rect("+(172-(i-50)*3.44)+"px,86px,172px,0px)");
                    i++;
                }
            },15);
        })
    </script>
{% endblock %}
{% block body %}
<!--环形百分比,标号5-->
<div data-role="page" id="pageShare" class="page">
    <div class="carwarp nobot">
        <div class="header-fixed">
            <h1 class="carlogo"><a href="#"><img src="/static/images/public/logo.jpg"></a></h1>
            <a href="/wap/cart_view/">
                {% if request.session.carts_number != '0' %}
                <div class="carnum">
                    <span class="cnume">{{ request.session.carts_number }}</span>
                </div>
                {% else %}
                <div class="carnum carnum-empty"></div>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="ring">
        <div class="innerCircle"></div>
        <div class="outerCircleWrap rightPie">
            <div class="outCircle"></div>
        </div>
        <div class="outerCircleWrap leftPie">
            <div class="outCircle"></div>
        </div>
        <p class="percent">{{size_value_percent}}<b>%</b></p>
    </div>
    <div class="percentTitle">{{wxname}}的<b class="type">{{size_name}}</b><br>击败了<b class="percentNumber">{{size_value_percent}}%</b>的人</div>
</div>
{% endblock %}