<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no" />
<title>DEBUG</title>
<link rel="stylesheet" href="/static/wap/css/my-custom-theme.min.css" />
<link rel="stylesheet"
	href="/static/wap/css/jquery.mobile.icons.min.css" />
<link rel="stylesheet"
	href="/static/wap/css/jquery.mobile.structure-1.4.5.min.css" />
<link rel="stylesheet" href="/static/wap/css/style.css" />
<script src="/static/wap/js/jquery-1.11.1.min.js"></script>
<script src="/static/wap/js/jquery.validate.min.js"></script>
<script src="/static/wap/js/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
		<li><a href='http://shixiongdeyigui.sinaapp.com/wap/buy'>量身定制</a></li>
        <h3>BB服务</h3>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/service'>售后服务</a></li>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/culture'>定制文化</a></li>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/about'>关于我们</a></li>
        <h3>个人中心</h3>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/coupons'>优惠券</a></li>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/show_my_size'>我的尺寸</a></li>
        <li><a href='http://shixiongdeyigui.sinaapp.com/wap/my_info'>个人信息</a></li>

</body>
</html>