@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box;}

.clearfix {zoom: 1;}
.clearfix:before,.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.msyh{font-family:"Microsoft YaHei";}

.form-control{display: block;width: 100%;height: 46px; padding: 6px 12px;font-size: 14px;line-height: 1.42857143em;color: #959595;background-color: #fff;background-image: none;border: none;outline:none; box-shadow: none;margin: 0;}
/* input-group */
.input-group{position: relative;display: table;border-collapse: separate; border-bottom: 1px solid #dddddd; width: 100%}
.input-group .form-control{position: relative;z-index: 2;float: left;width: 100%;margin-bottom: 0;}
.input-group-addon,.input-group-btn,.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) {border-radius: 0;}
.input-group-addon,.input-group-btn,.input-group .form-control {display: table-cell; font-size:16px; height:46px;}
.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius: 0;}
.input-group-addon,.input-group-btn{width: 1%;white-space: nowrap;vertical-align: middle;}
.input-group-addon{padding: 6px 12px;font-size: 16px;font-weight: normal;height:46px;line-height: 1;color: #959595;text-align: center;background-color: #ffffff;border: none;border-radius: 4px;}
.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"] {margin-top: 0;}
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child > .btn,.input-group-btn:first-child > .btn-group > .btn,.input-group-btn:first-child > .dropdown-toggle,.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {border-top-right-radius: 0;border-bottom-right-radius: 0;}
.input-group-addon:first-child {border-right: 0;}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child > .btn,.input-group-btn:last-child > .btn-group > .btn,.input-group-btn:last-child > .dropdown-toggle,.input-group-btn:first-child > .btn:not(:first-child),.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {border-top-left-radius: 0;border-bottom-left-radius: 0;}
.input-group-addon:last-child {border-left: 0;}
.input-group-btn{position: relative;font-size: 0;white-space: nowrap;}
/* form-gorup */
.form-group{position: relative;}
.form-group .form-control{padding-right: 115px;z-index: 1;}
.form-group .form-control-feedback{font-size: 16px;display: inline-block; padding: 8px 7px 6px; position: absolute;right: 0px;top: 3px;z-index: 2;background-color: #1D50A3;color: #ffffff;cursor: pointer;margin-right: 2px;}

.content-pad{padding-left: 10px; padding-right: 10px;}

.carpro{border-bottom:1px solid #E4E4E4; overflow:hidden;}
/*男士西装*/
.warpmen{padding:0 14px; overflow:hidden;}
.mens{border-bottom: 1px solid #626262; line-height: 22px; overflow: hidden; font-size: 18px; color: #000000; font-weight: bold; padding: 11px 0 0;}
/*西装*/
.mensxz{font-size: 18px; line-height: 20px; padding-top: 7px; overflow: hidden; float: left;}
.mens .msyh, .mensxz .msyh{font-size: 15px}
.warpsuit{width:100%;float:left; overflow:hidden;border-bottom:1px solid #626262;}
.warpsuit li{width:49%;overflow:hidden; float:left;color:#676767;padding-bottom:11px; box-sizing: border-box;}
.warpsuit li.li-left{margin-right:1%}
.warpsuit li.li-right{margin-left:1%}
.warpsuit li a{overflow:hidden; display:block; float:left;}
.warpsuit .suitpic{display:block; float:left; overflow:hidden;border:1px solid #626262;}
.warpsuit .suitpic img{width:100%; display:block; overflow:hidden; float:left;}
.suittlt{width:100%; line-height:25px;font-size:16px; overflow:hidden; text-align:center; padding-top:4px;}
.suitmoney{width:100%; line-height:25px; font-size:16px; overflow:hidden; text-align:center; display:block;}
.warpsuit li.pl{padding-left:2.5em;}
/************************产品内容页面********************************/
/*产品介绍*/
.warpcon{padding:0 13px; overflow:hidden;}
.contlt{line-height: 22px; font-size: 20px; font-weight: bold; overflow: hidden; padding: 5px 4px 0;}
.conmoney{width: 100%; line-height: 20px; font-size: 18px; color: #585858; display: block; padding: 0 4px;}
/*颜色*/
.concolor{overflow:hidden; float:left; padding: 13px 4px 15px;}
.concolor .ao{width:30px;height:30px;background:#fff;border:1px solid #C9C9C9; display:block; margin: 0 auto;}
.concolor .colorspan{width:22px;height:22px; display:block;background:red; float:left;margin:3px 0 0 3px;}
.concolor .colorspan img{width: 100%; height: 100%;}
.concolor .bgcolor{background:#1d50a2;}
/*最后一个a不需要加的间距*/
/*.concolor .mrno{margin-right:0;}*/
.concolor.row{margin-left:-9px; margin-right: -9px; min-width: 100%;}
.concolor.row .col-2{padding-left:9px; padding-right:9px; width:16.6%;display: inline-block; float: left; margin-bottom: 8px;}
/*为谁定制*/
.whom{width:100%;overflow:hidden; float:left;padding-bottom:20px;}
.forwho{border-bottom: 1px solid #626262; line-height: 22px; font-size: 18px; padding: 6px 4px 0;}
.forwho .smf{font-size: 14px;}
.for-row{width:100%; margin-left: -10px; margin-right: -10px; padding: 7px 4px 0;}
.for-row .col-5{padding-left: 10px; padding-right: 10px;width: 50%;float:left;}
.for-row .checkboxWrap{width: 20px; height: 20px; border: 1px solid #1D50A3; position: relative; display: inline-block; vertical-align: top;}
.for-row .checkboxWrap input[type=radio]{visibility: hidden; width: 18px; height: 18px;}
.for-row .checkboxWrap label{width: 14px; height: 14px; position: absolute; left: 2px; top: 2px;}
.for-row .checkboxWrap input:checked + label{background: #1D50A3;}
.for-row .chb-tx{font-size: 14px; line-height: 20px;}
.whoche{ float:left; overflow:hidden;margin:8px 10px 0 0;}
.whotxt{ float:left; overflow:hidden; display:block;font-size:18px;}
/*请输入对方的手机号*/
.num{
    width: 80%;
  border-bottom: 1px solid #dedede;
  font-size: 15px;
  color: #a7a7a7;
  line-height: 30px;
  padding-top: 9px;
  margin-left: 4px;
  outline: none;
  padding-bottom: 2px;
}
/*面料*/
.fabrics{line-height:20px; overflow:hidden; font-size:15px;color:#A7A7A7;padding-bottom:25px; padding-left:10px; padding-right:10px;}
/*工艺*/
.crafts{width:100%; overflow:hidden; float:left; padding-top: 4px;}
.crafts li{ float:left;color:#A7A7A7; font-size: 13px; padding: 0 5px; line-height: 18px;}
.crafts.w-ver-s li:not(:last-child){margin-bottom: 18px;}
.crafts .nopr{padding-right:0;}
.crafts.row{}
.crafts.row li{  width: 25%;
  overflow: hidden;
  white-space: nowrap;padding: 0 7px;}
.whom2{}
.warpbottom{width:100%; overflow:hidden; position:fixed;bottom:0;background:#fff;}
/*结算*/
.jiesuan{height:40px; line-height:40px; overflow:hidden;font-size:16px;}
.jsmoney{width:50%; line-height:44px; text-align:center; overflow:hidden; display:block; float:left;border-top:1px solid #C9C9C9;font-size:18px;}
.jsbtn{width:50%; line-height:44px; text-align:center; overflow:hidden;background:#1d50a2;color:#fff; display:block; float:left;}
.jsbtn:link,.jsbtn:visited{color:#fff;}
/*定制弹框*/
.loading-mask{position:absolute;left:0; top:0;width:100%;height:100%;z-index:10000;background:rgba(0,0,0,0.4);}
.Customized{width:233px;height:138px;background:#fff;overflow:hidden; position:absolute;top:50%;left:50%; z-index:99999;margin:-150px 0 0 -116px; }
.tkwhodz{width:233px;height:98px; line-height:98px; text-align:center;color:#959595;font-size:16px;}
.good{width:233px; line-height:39px; text-align:center; overflow:hidden;color:#1d50a2;font-size:18px;border-top:1px solid #bfbfbf; cursor:pointer;}
/**********************款式选择 页面************************************/
.warpstyles{width:250px; margin:0 auto; padding: 0; overflow:hidden;}
/*领型*/
.warplx{overflow:hidden; float:left;padding-top:60px;}
.isuit .warplx{padding-top: 36px;}
.warplx.first{padding-top: 36px;}
.lxtlt{width: 73px; line-height: 32px; background: #000; color: #fff; display: block; overflow: hidden; float: left; font-size: 15px; text-align: center; border-radius: 3px;}
.lxdiv{width:238px;height:137px; overflow:hidden; float:left;border:1px solid #C9C9C9;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.lxdiv img{display: block; overflow: hidden; width: 80%; margin: 0 auto;}
.lxstyles{width:240px; overflow:hidden; float:left;}
.lxstyles li{width:78px;height:33px; line-height:33px; text-align:center;margin:1px; cursor:pointer;background:#C9C9C9;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#fff;font-size:15px; float:left;}
.lxstyles .curbg{background:#1D50A2;}
.lxstyles_multi{width:240px; overflow:hidden; float:left;}
.lxstyles_multi li{width:78px;height:33px; line-height:33px; text-align:center;margin:1px; cursor:pointer;background:#C9C9C9;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#fff;font-size:18px; float:left;}
.lxstyles_multi .curbg{background:#1D50A2;}
/*确定进入下一步弹框*/
.good span{width:49%; overflow:hidden; display:block; float:left; text-align:center;font-size:16px; cursor:pointer;}
.good .bdrspan{border-right:1px solid #bfbfbf;}
/*****************************个性选择页面******************************/
.besdiv{border-bottom:1px solid #000;padding:10px 20px; overflow:hidden;}
.bespoke{ width:100%;float:left; line-height:30px; overflow:hidden;}
.bespoke span{ float:left; display:block; overflow:hidden;font-size:18px;}
.bespoke span.smf{font-size: 16px;}
.bespoke .floatr{ float:right;}
.bespoke .checkboxWrap{width: 20px; height: 20px; border: 1px solid #1D50A3; position: relative; display: inline-block; margin-top: 5px; vertical-align: top;}
.bespoke .checkboxWrap input[type=checkbox]{visibility: hidden; width: 18px; height: 18px;}
.bespoke .checkboxWrap label{width: 14px; height: 14px; position: absolute; left: 2px; top: 2px;}
.bespoke .checkboxWrap input:checked + label{background: #1D50A3;}
.bestxt{font-size:14px; overflow:hidden; float:left;color:#bfbfbf;word-break: break-all; word-wrap: break-word; line-height: 18px;}
.boxn{margin-left: -15px;}
.boxn .warplx{padding-top: 18px;}
/*去掉边框*/
.besdiv2{border-bottom:none;margin-bottom: 20px;}
/*绣字内容*/
.wztext{line-height:30px;border-bottom:1px solid #dedede;outline: none; display: inline-block; text-align: center; font-size: 15px; padding: 10px 8px 2px; color: #1D50A3;}
/*底部*/
.footerbdt{margin:0 5px;border-bottom:1px solid #626262; overflow:hidden;}
.mensooter{padding:12px 0 20px; overflow:hidden; border-top: 1px solid #626262; margin: 16px 17px 0;}
.mensooter p{width: 100%; line-height: 20px; font-size: 14px; overflow: hidden; text-align: center; color: #000;}
.mensooter p.smf{font-size: 13px;}
/*联系我们*/
.contact{padding-top: 30%;text-align: center;}
.contact .ctn{font-size: 18px; padding: 5px 0;}
.contact .ctn i{width: 34px;vertical-align: middle;}
.contact .ctn i.fa-phone{font-size: 30px;}
.contact .ctn i.fa-weixin{font-size: 25px;}
.contactTitle{font-size: 15px;margin: 0 auto;width: 90%;text-align: center;margin-bottom: 20px;}
a.tel{line-height: 35px;color: #005599;}
a.weixin{line-height: 35px;}
.except,.promise{font-size: 14px;text-align: center;margin-top: 20px;}
/*定制文化13*/
a.ui-collapsible-heading-toggle{opacity: 0.6;font-weight: 100;}
[data-role="content"]{border-bottom: 1px solid #dddddd;padding: 1em 40px;}
.ui-collapsible-themed-content .ui-collapsible-content{border-bottom: none;}
.ui-collapsible-content p{color: #8e8e8d;font-size: 1em;line-height: 2em;margin-bottom: 2em;}
.centerImgWap{width: 100%;text-align: center;margin-top: 5%;}
.centerImg{max-width: 100%;}
/*关于我们*/
.aboutUs{padding: 5% 5% 10% 5%;font-size: 14px;}
.aboutUs p{padding: 4% 2% 4% 2%; text-align: justify; line-height: 25px;}
/*用户信息修改页面*/
.accountPage form{}
.accountInfo,.accountItem{position: relative;line-height: 50px; padding: 0px;color: #838080;border: none;background: none;border-bottom: 2px solid #eeeeee;margin: 0;font-size: 16px;height: 46px;border-radius: 2px;padding-left: 22px;}
.accountInfo::after{position: absolute;content: '>';color: #cfcfcf;top: 0;right: 0;width: 20px;height: 20px;}
.accountInfo input,.accountItem input{outline: 0; padding: 0;margin: 0;border: 0;background: #eeeeee;font-weight: 200;font-size: 16px;color: #838080;background: none;float: right;height: 46px; padding-right: 34px;line-height: 50px;}
.accountInfo input{width: 50%}
.accountInfo input{text-align: right;}
.accountInfo input:disabled{color:#838080;opacity: 1;}
.submitWrap{text-align: center;margin: 30px 0 0;}
.submitWrap .myBtn{background-color: #1d50a2; border: 1px solid #2e6da4; box-sizing: border-box; display: inline-block; font-size: 18px; text-align: center; width: 100%; color: #ffffff; padding: 10px 0px 8px;}
.submitWrap .myBtn.fw{width: 80%;}
.accountPage .account-sex{line-height: 40px;border-bottom: 1px solid #959595;padding: 0 20px;}
.accountPage .submitWrap, #pageForm5 .submitWrap, #pageForm9 .submitWrap{margin: 0 45px;}
/*固定弹出层*/
.fixModal{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);display: none;z-index: 999;font-size: 15px;}
.modalWrap{margin: auto;width: 80%;background: #ffffff;text-align: center;margin-top:40%}
.modalInfo{padding: 25px; color: #aaaaaa;}
.modalInfo p{padding: 10px;}
.fixModal button{background: #ffffff;width: 100%;border: none;border-top: 1px solid #cfcfcf;padding: 10px;color: #a48857;font-size: 1.2em;}
.fixModal .title{margin-left: 15%;text-align: left;color: #a48857;}
.fixModal #thisphone{padding: 10px 0;}
.fixModal .operator{border-top: 1px solid #dddddd;}
.fixModal .operator a{display: inline-block;width: 50%;float: left;padding: 10px 0;color: #1d50a2;}
.fixModal .operator a.cancel{border-right:1px solid #dddddd;}
.hr{height: 1px;width: 25%;margin:0 auto;background:#a48857;}
.tips{font-size: 0.75em;padding: 4px 0 6px 0;}
/*查看手机号页面*/
#oldPhone{color: #959595;}
.centerP{font-size: 13px;color: #959595;padding-bottom: 5px;}
.leftP{margin: 0 18px;}
.leftP input{padding: 11px; text-align: left; border-bottom: 1px solid #959595; width: 100%; outline: none; color: #1d50a2;  font-size: 16px;}
.phoneInfo{margin:0 0 10px 0;text-align: center; padding-top: 45px;}
.phoneInfo p{color:#959595;font-size: 16px;margin-top: 10px;}
.phoneInfo.change-s p{font-size: 14px;}
.phoneInfo b{padding-left: 4%;}
.phoneIconBig{margin: 0 auto;width: 80px;height: 120px;background: url(../images/phoneIconBig.png) no-repeat center;}
.phoneIcon{margin: 0 auto;width: 30px;height: 46px;background: url(../images/phoneIcon.png) no-repeat center;}
/*输入新的手机号*/
.accountPhone form{padding: 20px 25px 0;}
.accountPhone .form-errors{color: red;text-align: center; margin-top: 15px; height: 30px;}
.phoneHelp{margin: 8%  auto;width: 80%;}
.phoneHelp p{font-size: 0.75em;}
/*输入验证码*/
.error-border{border: 1px solid red!important; border-radius: 2px;}
.cer-ctn{padding: 10% 10% 0;}
.certification{text-align: center;border-bottom: 1px solid #959595;}
#pageForm8 .form-errors{margin-top: 10px; height: 30px; color: red; text-align: center; font-size: 13px; line-height: 28px;}
.certification #verification{background: none;border: none;padding-right: 140px; height: 40px; font-size:16px;}
.certification a{display: block;margin: 14px 0 0 0;font-size: 1em;color: #999999;}
/*订单*/
.rcpt-p{padding-bottom: 10px;}
.rcpt-p .recipientWrap{font-size: 15px; border-bottom: 2px solid #dddddd; padding: 15px 12% 15px 8%;position: relative;}
.rcpt-p .recipientWrap .fa-angle-right{position: absolute; right: 10px; font-size: 40px; top: 40%; color: #959595;}
.rcpt-p .product-wrap{margin-left: -5px; margin-right: -5px;margin-bottom: 20px;}
.rcpt-p .product-wrap .col-4, .rcpt-p .product-wrap .col-3{padding-left:5px;padding-right: 5px;float:left;}
.rcpt-p .product-wrap .col-4{width: 40%;}
.rcpt-p .product-wrap .col-3{width: 30%;}
.rcpt-p .orderImg a{width: 100%;height: 100%;}
.rcpt-p .orderImg a img{width: 100%;height: 100%;}
.rcpt-p .orderWrap .order-line{margin-bottom: 5px;}
.rcpt-p .orderWrap .order-line span{float:right;}
.rcpt-p .recipientWrap .process{position: relative; margin: 0 auto; width: 174px; padding:20px 0 40px}
.rcpt-p .recipientWrap .process ul{position: absolute; margin-top: -38px; text-align: center;}
.rcpt-p .recipientWrap .process .tx1{height: 36px; margin-bottom: 10px;}
.rcpt-p .recipientWrap .process .tx2{font-size: 12px;}
.rcpt-p .recipientWrap .node, .rcpt-p .recipientWrap .proce{float: left;position: relative;height: 13px;}
.rcpt-p .recipientWrap .node{width: 12px; color: #aaaaaa;margin-left:-1px;}
.rcpt-p .recipientWrap .node.fa-check-circle{color: #1D50A2;}
.rcpt-p .recipientWrap .node ul{z-index: 1; width: 100px; margin-left: -44px;}
.rcpt-p .recipientWrap .proce{width: 70px; height: 3px; margin-top: 6px; background-color:#aaaaaa;}
.rcpt-p .recipientWrap .proce.ready{background-color: #1D50A2;}
.rcpt-p .recipientWrap .proce ul{z-index: 5; width: 100%;}
/*radar页面 4*/
.radar-chart .area {
    fill-opacity: 0;
}
.radar-chart.focus .area {
    fill-opacity: 0;
}
.radar-chart.focus .area.focused {
    fill-opacity: 0;
}
.level-group-0,.level-group-1, .level-group-2{
    display: none;
}

.chart{
    position: relative;
    margin-top: 64px;
    margin-bottom: 40px;
}
.chart-container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.chart p{
    position: absolute;
    left: 50%;
}
.crossShoulder,.chestWidth,.waistWidth,.legLength,.hipWidth{
    font-size: 24px;
    color:#1d50a2;
}
.shoulder,.chest,.waist,.leg,.hip{
    font-size: 12px;
}

/*肩宽*/
.crossShoulder{
    top: -46px;
    margin-left: -10px;
}
.shoulder{
    top: -14px;
    margin-left: -10px;
}

/*胸围*/
.chestWidth{
    top: 44px;
    margin-left: -150px;
}
.chest{
    top: 60px;
    margin-left: -116px;
}


/*腰围*/
.waistWidth{
    top: 44px;
    margin-left: 124px;
}
.waist{
    top: 60px;
    margin-left: 94px;
}

/*腿长*/
.legLength{
    top:190px;
    margin-left: -100px;
}
.leg{
    top: 180px;
    margin-left: -76px;
}

/*臀围*/
.hipWidth{
    top: 190px;
    margin-left: 80px;
}

.hip{
    top: 180px;
    margin-left: 56px;
}



.resultUl{
    text-align: center;
    margin-bottom: 20px;
}
.resultUl li{
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
.resultUl li:first-child{
    border-top: 1px solid #dddddd;
}
.resultUl li a{
    width: 100%;
    padding: 12px 24px;
    display: inline-block;
    font-size: 15px;
    color: #959595;
    text-align: left;
}

#pageResult1 .submitWrap {
    margin-top: 0;
}

.choice .selected{
    background: #a48857;
    color: #ffffff;
}

/* 分享页 */
#pageShare{
    background:url(../wap/images/blur.png) no-repeat ;
    background-size:cover;
    background-position-y: 85px;
    font-weight: 200;
}
.percentTitle{
    margin-top: 25%;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.percentTitle b{
    color:#9f8350;
}
#pageShare .submitWrap{
    margin-top: 0;
}
#pageShare .submitWrap .ui-btn{
    width: 70%;
    border: none;
}
/*环形百分比动画*/
.ring {
    position: relative;
    margin: 15% auto 0;
    width: 175px;
    height: 175px;
}
.ring *{box-sizing: content-box;}
.innerCircle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border: 4px #e6e6e6 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.outerCircleWrap {
    top: 0;
    left:0;
    position: absolute;
    width: 172px;
    height: 172px;
    background: transparent;
    clip: rect(0px,172px,0px,86px);

}
.outCircle {
    width: 156px;
    height: 156px;
    background-color: transparent;
    border:8px #9f8350 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.percent {
    width: 78px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    font-size: 46px;
    font-weight: bolder;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 36px;
}
.percent b{
    font-size: 36px;
    font-weight: normal;
    padding-left: 2px;
}
b.percentNumber{
    color: #ffffff;
}

#pageFormLS .conpro{font-size: 18px; margin: 40% auto 0; text-align: center; color: #aaaaaa;}
#pageFormLS .conpro div{padding: 8px;}
#pageFormLS .conpro .fa{color: #1d50a2;}